*{
	font-family: gnortsmra;
	margin: 0;
	padding: 0;
	position: relative;
}

@font-face {
    font-family: gnortsmra;
    src: url("Final Font/Gnorts Mr A.woff") format("opentype");
}



/*test*/
body {
	text-align: center;
}

.quotable-quotes{
	font-size: 15px;
}
.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	background-image: url(Images/banner.jpeg);
	background-size: cover;
	background-position: center center;
	border:  1px solid red;
}

.content-area {
	text-align: left;
	border:  1px solid red;
	width: 100%;
	top: 480px;
	background: #ebebeb;
}


.backgroung_NavBar{
	background-color: #eef4ed;
}

/*start of footer*/
.footer-distributed {
	border: 1px solid red;
	background-color: #292c2f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding:10px 90px;
}

/*contents of footer left*/
.footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
}

/*footer links href*/
.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	padding-right: 1%;
}

/*when hover show underline*/
.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/*End of Footer CSS*/
